<!DOCTYPE html>
<html>
    <body>
        <p>Surveys taken: {{tally}}</p>
        <p>Number of fevers: {{symptomTotal['fever']}}</p>
        <p>Number of coughs: {{symptomTotal['cough']}}</p>
        <p>Number of nose: {{symptomTotal['nose']}}</p>
        <p>Number of loss: {{symptomTotal['loss']}}</p>
        <p>Number of sob: {{symptomTotal['sob']}}</p>
        <p>Number of throat: {{symptomTotal['throat']}}</p>
        <p>Number of vomit: {{symptomTotal['vomit']}}</p>
        <p>Number of ache: {{symptomTotal['ache']}}</p>
        <p>Number of positive cases in US: {{statsUS.positive}}</p>
        <p>Number of new cases in US: {{statsUS.new}}</p>
        <p>Number of negative cases in US: {{statsUS.negative}}</p>
        <p>Number of recovered patients in US: {{statsUS.recovered}}</p>
        <p>Number of deaths in US: {{statsUS.deaths}}</p>
        <p>Number of new deaths in US: {{statsUS.newDeaths}}</p>
        <p>Number of positive cases in MA: {{statsMA.positive}}</p>
        <p>Number of new cases in MA: {{statsMA.new}}</p>
        <p>Number of negative cases in MA: {{statsMA.negative}}</p>
        <p>Number of recovered patients in MA: {{statsMA.recovered}}</p>
        <p>Number of deaths in MA: {{statsMA.deaths}}</p>
        <p>Number of new deaths in MA: {{statsMA.newDeaths}}</p>
    </body>
</html>