<!DOCTYPE html>
<html>
    <body>
        <p>Number of positive cases in US: {{statsUS.positive}}</p>
        <p>Number of new cases in US: {{statsUS.new}}</p>
        <p>Number of negative cases in US: {{statsUS.negative}}</p>
        <p>Number of recovered patients in US: {{statsUS.recovered}}</p>
        <p>Number of deaths in US: {{statsUS.deaths}}</p>
        <p>Number of new deaths in US: {{statsUS.newDeaths}}</p>
        <p>Number of positive cases in MA: {{statsMA.positive}}</p>
        <p>Number of new cases in MA: {{statsMA.new}}</p>
        <p>Number of negative cases in MA: {{statsMA.negative}}</p>
        <p>Number of recovered patients in MA: {{statsMA.recovered}}</p>
        <p>Number of deaths in MA: {{statsMA.deaths}}</p>
        <p>Number of new deaths in MA: {{statsMA.newDeaths}}</p>
    </body>
</html>