<!DOCTYPE html>
<html> 

    <title>Home</title> 

    <link rel="stylesheet" type="text/css" href="../static/home.css"> 
    <script src="../static/click.js"></script> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-auth.js"></script>
    <script src="../static/firebase.js"></script>
    <script src="../static/home.js"></script> 

</head>
<body> 
    
    <div id="container"> 

        <div id="top"> 

            <div id="logo"> 
                <a onclick="myFunction()" href="home"> 
                <img src="../static/Logo.jpg" style="width:50px; height: 50px;"> 
                </a> 
            </div> 

            <div id="welcome">
                <h1>Welcome to the COVID-19 Tracker!</h1> 
            </div> 
        </div> 
        
        <div id="button_container"> 
            <button onclick="homeApp.logout();">Sign Out</button> 
        </div> 

        <div id="banner">

        </div> 

        <div id="nav"> 
            <a href="home">HOME</a> 
            <a href="tips">TIPS</a> 
            <a href="help">SEEK HELP</a>
            <a href="dashboard">DASHBOARD</a>
        </div> 

        <div id="left"> 
            <h2>Random Tip!</h2> 
            <img src="../static/WashHands.jpg" style="width: 380px; height: 200px;"> 

            <h3>Washing your hands!</h3> 

            <p> 
                1. Always rinse first! This will make soaping up your hands easier 
                and rinse away any dirt or grim on your hands. 
                <br> 
                <br> 
                2. Get some soap and lather your hands thoroughly by making sure you 
                get the palms, back of your hands, between the fingers and under your 
                nails. 
                <br> 
                <br> 
                3. Scrub your hands for at least 20 seconds and rinse off all of the 
                soap. Remember, rinsing off all the soap will ensure bacteria will 
                be rinsed off of your hands. 
            </p>

        </div> 

        <div id="right"> 
            <h2>Symptoms Tracker</h2> 
            <p>
                <span>Are you experiencing any of the following symptoms: </span> 
                <br> 
            </p> 

        <form method = "POST" action = "/complete">
            <p> 
                Fever of 100 degrees (Fahrenheit) or more? 
                <br> 
                YES <input id="Q1" type="radio" name="Q1" value="1">  
                NO <input id="Q1" type="radio" name="Q1" value="0"> 
                <br> 
            </p>

            <p> 
                Coughing?
                <br> 
                YES <input id="Q2" type="radio" name="Q2" value="1">  
                NO <input id="Q2" type="radio" name="Q2" value="0"> 
                <br> 
            </p> 

            <p> 
                Runny nose?
                <br> 
                YES <input id="Q3" type="radio" name="Q3" value="1">  
                NO <input id="Q3" type="radio" name="Q3" value="0"> 
                <br> 
            </p>
            
            <p> 
                Lost of taste/smell?
                <br> 
                YES <input id="Q4" type="radio" name="Q4" value="1">  
                NO <input id="Q4" type="radio" name="Q4" value="0"> 
                <br> 

            </p> 

            <p>
                Difficulty breathing/Shortness of breath?
                <br> 
                YES <input id="Q5" type="radio" name="Q5" value="1">  
                NO <input id="Q5" type="radio" name="Q5" value="0"> 
                <br> 
            </p> 

            <p> 
                Sore throat?
                <br> 
                YES <input id="Q6" type="radio" name="Q6" value="1">  
                NO <input id="Q6" type="radio" name="Q6" value="0"> 
                <br> 
            </p>

            <p> 
                Vomiting?
                <br> 
                YES <input id="Q7" type="radio" name="Q7" value="1">  
                NO <input id="Q7" type="radio" name="Q7" value="0"> 
                <br> 
            </p>

            <p> 
                Muscle aches? 
                <br> 
                YES <input id="Q8" type="radio" name="Q8" value="1">  
                NO <input id="Q8" type="radio" name="Q8" value="0"> 
                <br> 
            </p>

            <p>
                    <input id="submit" type="submit" name="classMode" value="Submit"> 
            </p> 
        </form> 
        </div> 

        <div id="bottom">
            <p>Senior Design Software Mini-Project 2020 </p>
            <p>&copy Steven Tong & Jaden Tayag 2020</p> 
        </div>

    </div> 
</body>
</html>