<!DOCTYPE html>
<html> 
<head> 
    <title>Submission</title> 

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/signup.css"> 

    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" /> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    
    <script src="../static/firebase.js"></script>
    <script src="../static/login.js"></script>
    
</head>
<body>
        <!-- The surrounding HTML is left untouched by FirebaseUI.
        Your app may use that space for branding, controls and other customizations.-->
        <div  id="container"> 
            <div id="top"> 
                <h1>Thank you for signing up! 
                    <br> 
                    <br> 
                    <a href="login">Click here to login!</a> 
                </h1> 
                
            </div>
         </div>  
</body>
</html> 